@import url("//fonts.googleapis.com/css?family=Droid+Sans:400,700");

// http://colorschemedesigner.com/#4e32Po0pBw0w0

$code-color: #333;

$body-font-family: "Droid Sans", "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
$body-font-weight: normal;
$header-font-weight: 500;

// We use these as default colors throughout
$drugis-color: #CC3333;
$primary-color: #452F8C;
$secondary-color: #e7e7e7;
$alert-color: #E66464;
$success-color: #29A329;
$warning-color: lighten(#f08a24, 5%);


$paragraph-margin-bottom: rem-calc(20) !default;
$paragraph-font-size: 1rem !default;